In [4]:
import pyodbc
import yfinance as yf
import pandas as pd
from sqlalchemy import create_engine
import datetime
from datetime import date, timedelta

# Verbindungsstring
conn_str = (
    r'Driver=SQL Server;'
    r'Server=.\SQLEXPRESS;'
    r'Database=studienprojekt;'
    r'Trusted_Connection=yes;'
)

# Verbindung zur Datenbank herstellen
cnxn = pyodbc.connect(conn_str)

# SQLAlchemy connectable erstellen
engine = create_engine('mssql+pyodbc://', creator=lambda: cnxn)

# Tabelle prüfen
table_name = "stock_data"  # Name der Zieltabelle
start_date = "2022-07-01"  # Startdatum, ab dem Daten überprüft werden sollen
end_date = "2023-07-01"  # Enddatum, bis zu dem Daten überprüft werden sollen

# Daten aus der Tabelle in einen DataFrame laden
select_query = f"SELECT * FROM {table_name} WHERE date >= ? AND date <= ?"
data = pd.read_sql(select_query, con=engine, params=(start_date, end_date))

# added
data["ID"] = data.index
data = data[["ID", "Date", "Company", "Type", "Open", "High", "Low", "Close", "Volume"]]
data.reset_index(drop=True, inplace=True)

# Verbindung schließen
cnxn.close()

# DataFrame anzeigen
print(data.tail())

      ID       Date Company Type        Open        High         Low  \
246  246 2023-06-26    AAPL  ACT  186.830002  188.050003  185.229996
247  247 2023-06-27    AAPL  ACT  185.889999  188.389999  185.669998
248  248 2023-06-28    AAPL  ACT  187.929993  189.899994  187.600006
249  249 2023-06-29    AAPL  ACT  189.080002  190.070007  188.940002
250  250 2023-06-30    AAPL  ACT  191.630005  194.479996  191.259995

          Close    Volume
246  185.270004  48088700
247  188.059998  50730800
248  189.250000  51216800
249  189.589996  46347300
250  193.970001  85069600