In [5]:
import math
import matplotlib.pyplot as plt
import keras
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import *
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from keras.callbacks import EarlyStopping
import yfinance as yf

# Download stock data
df = yf.download('AAPL', start='2016-01-01', end='2023-07-01')



print("Number of rows and columns:", df.shape)
df.head(5)

[*********************100%***********************]  1 of 1 completed
Number of rows and columns: (1886, 6)

                 Open       High        Low      Close  Adj Close     Volume
Date
2016-01-04  25.652500  26.342501  25.500000  26.337500  24.041489  270597600
2016-01-05  26.437500  26.462500  25.602501  25.677500  23.439024  223164000
2016-01-06  25.139999  25.592501  24.967501  25.174999  22.980330  273829600
2016-01-07  24.670000  25.032499  24.107500  24.112499  22.010454  324377600
2016-01-08  24.637501  24.777500  24.190001  24.240000  22.126837  283192000

In [6]:
training_set = df.iloc[:800, 1:2].values
test_set = df.iloc[800:, 1:2].values

In [7]:
# Feature Scaling
sc = MinMaxScaler(feature_range = (0, 1))
training_set_scaled = sc.fit_transform(training_set)# Creating a data structure with 60 time-steps and 1 output
X_train = []
y_train = []
for i in range(60, 800):
    X_train.append(training_set_scaled[i-60:i, 0])
    y_train.append(training_set_scaled[i, 0])
X_train, y_train = np.array(X_train), np.array(y_train)X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
#(740, 60, 1)

SyntaxError: invalid syntax (1757222428.py, line 9)